$color: #666;
$scale: 4;
$height: 20;

$section-height: $scale * $height * 2px;
$section-width: $scale * $height * 5px;

$door-width: 50px;

@mixin pixel-render() {
	image-rendering:optimizeSpeed;             /* Legal fallback */
	image-rendering:-moz-crisp-edges;          /* Firefox        */
	image-rendering:-o-crisp-edges;            /* Opera          */
	image-rendering:-webkit-optimize-contrast; /* Safari         */
	image-rendering:optimize-contrast;         /* CSS3 Proposed  */
	image-rendering:crisp-edges;               /* CSS4 Proposed  */
	image-rendering:pixelated;                 /* CSS4 Proposed  */
	-ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}
@mixin faction-colors(){
	&.command {
		background:red;
	}
	
	&.operations {
		background:orange;
	}
	
	&.science {
		background:aqua;
	}
	
	&.civilian {
		background:grey;
	}
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    //transition:all 3s;
    background:linear-gradient(to top, black + #444, black);
    
    //background:linear-gradient(to top, teal + #888 100% - $ground-height, teal + #EEE);
}

//add some cool stuff back here for rotating stars!
#space-bg {
	background: {
		image: url('../images/warp-upscaled.png');
		repeat:repeat;
		position:0 0;
	}
	animation: warp 5s linear infinite;
	position:fixed;
	width:100%;
	height:100%;
	opacity: 0.3;
}

@keyframes warp {
	from { background-position: 0 0; }
	to { background-position: 32px * $scale * -10 0; }
}

#space {
	height:100%;
	width:100%;
	display:flex;
	align-items:center;
	
	#station {
		position: relative;
		height:$section-height;
		width:100%;
		transition:all .35s;
		list-style:none;
		//transform:scale(0.4);
		//filter: brightness(0);
	}
}

.section {
	display:inline-block;
	position: relative;
	width:$section-width;
	height:$section-height;
	
	background:white;
	margin-right:20px;
	
	&:first-child {
		margin-left:20px;
	}
	
	@include faction-colors();
	
	.units {
		position: absolute;
		bottom: 0px;
		height: $section-height/2;
		padding:0 10px;
		
		//not sure if needed
		width:100%;
		box-sizing:border-box;
		
		.terminals {
			position:absolute;
			bottom:0;
			width: calc(100% - #{$door-width} - 20px);
			margin-left:$door-width;
			margin-right:10px;
			height:100%;
			
			//background:#999;
			display:flex;
			align-items:flex-end;
			justify-content: space-around;
			
			.terminal {
				width:$door-width;
				height:100%;
				background:white;
				display:inline-block;
				bottom:0px;
				
				@include faction-colors();
			}
		}
	}
}

.unit {
	position: absolute;
	width:11px * $scale;
	height:18px * $scale;
	cursor:pointer;
	transform-origin:bottom center;
	
	@include pixel-render();
	
	.transform {
		width:100%;
		height:100%;
		position:relative;
		//opacity:0.3;
		//background:linear-gradient(to right, red, blue);
		
		background: {
			//image: url('../images/dude-upscaled.png');
			size: 100% 100%;
			repeat: no-repeat;
		}
		
		.decoration {
			@include pixel-render();
		}
		
		.uniform,
		.badge {
			@include pixel-render();
			width:11px * $scale;
			height:8px * $scale;
			position:absolute;
			bottom:0;
		}
		
		.skin {
			@include pixel-render();
			background-position:top;
			width:100%;
			height:100%;
		}
	}	
}

.teleport {
	transition: none;
}

footer {
	position:fixed;
	bottom:0;
	text-align:center;
	width:100%;
	
	ul {
		list-style:none;
		
		li {
			margin:7px 10px;
			display:inline-block;
			color:white;
			text-shadow:0px 2px 0px black;
			font-size:small;
			
			&:not(:first-child):before {
				content: '|';
				margin-right:20px;
			}
		}
	}
}

/*
//Ignoring planet stuff for now
$ground-height: 40%;//250px
#planet {
	display:none;
	
	height:100%;
	width:100%;
	
	#ground-container {
		position: fixed;
		width:100%;
		height:$ground-height;
		z-index: 1;
		bottom:0;
		background:linear-gradient(to bottom, green + #444, darkgreen - #111);
		
		#ground {
			position: relative;
			top: -$ground-height*0.8;
			overflow-x: auto;
			height:100%;
			
			#buildings {
				height:100%;
				
				.building {
					z-index: 1;
					position: absolute;
					width:300px;
					height:200px;
					background:#630;
					display: inline-block;
				}	
			}
			
			#ground-scroll-box {
				z-index: 0;
				position: absolute;
				top: $ground-height;
				left: 0;
				width: 100%;
				height: 100%;
				cursor: ew-resize;
				display: none;
			}
		}
	}
}

//Ignoring atmosphere stuff now
#atmosphere {
	width:100%;
	height:100%;
	display:none;
}
*/