$color: #666;
$scale: 5;
$height: 20;

$section-height: $scale * $height * 2px;
$section-width: $scale * $height * 5px;

$door-width: 55px;

//@import 'fonts';

@mixin pixel-render() {
	image-rendering:optimizeSpeed;             /* Legal fallback */
	image-rendering:-moz-crisp-edges;          /* Firefox        */
	image-rendering:-o-crisp-edges;            /* Opera          */
	image-rendering:-webkit-optimize-contrast; /* Safari         */
	image-rendering:optimize-contrast;         /* CSS3 Proposed  */
	image-rendering:crisp-edges;               /* CSS4 Proposed  */
	image-rendering:pixelated;                 /* CSS4 Proposed  */
	-ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}
@mixin faction-colors(){
	&.command {
		background:red;
	}
	
	&.operations, &.power {
		background:orange;
	}
	
	&.science {
		background:#006aff;
	}
	
	&.civilian {
		background:grey;
	}
	
	&.money {
		background:green;
	}
	
	&.crystals {
		background:teal;
	}
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    background:linear-gradient(to top, black + #444, black);
    font-family: 'helvetica neue', helvetica, arial;
    font-weight: 200;
    //text-rendering: geometricPrecision;
    text-rendering: optimizeLegibility;
}

#broken {
	display:none;
	padding:10px 15px;
	background:red;
	color:white;
	font-size:large;
	border-radius:50px;
	text-align:center;
	width:50%;
	margin:0 auto;
	position:relative;
}

//add some cool stuff back here for rotating stars!
#space-bg {
	background: {
		image: url('../images/warp-upscaled.png');
		repeat:repeat;
		position:0 0;
	}
	transform:translateZ(0);
	//animation: warp 5s linear infinite;
	position:fixed;
	width:100%;
	height:100%;
	opacity: 0.3;
}

@keyframes warp {
	from { background-position: 0 0; }
	to { background-position: 32px * $scale * -10 0; }
}

#space {
	height:100%;
	width:100%;
	display:flex;
	align-items:center;
	align-content:center;
	flex-flow:row wrap;
	
	#station {
		position: relative;
		height:$section-height;
		width:100%;
		transition:all .35s;
		list-style:none;
		
		opacity: 0;
		//transform:scale(0.4);
		//filter: brightness(0);
	}
	
	#stats {
		width:calc(100% - 20px);
		padding:5px;
		position:relative;
		margin:5px 10px;
		box-sizing:border-box;
		text-align: center;
		
		background:grey;
		
		#timer {
			position:absolute;
			z-index: 0;
			top:0;
			left:0;
			height: 100%;
			background:yellow - #555;
		}
		
		.stat {
			position:relative;
			display:inline-block;
			min-width: 150px;
			max-width: 350px;
			padding:7px 10px;
			background:white;
			font-weight: 400;
			text-shadow: 0px 1px 0px white;
			@include faction-colors();
			
			&#money:before {	content: '$'; color:green }
			&#crystals:before { content: 'C'; color:teal }
			&#command:before { color:red }
			&#power:before { color:orange }
			&#science:before { color:#006aff }
			
			&:before {
				font-weight:200;
				color: grey;
				opacity: 0.5;
				text-shadow: 0px 1px 0px white;
			}
			
			&.animate {
				color:white;
				text-shadow: 0px 1px 0 rgba(0,0,0,0.5);
				
				&:before {
					color:white !important;
					text-shadow: 0px 1px 0 rgba(0,0,0,0.5);
					opacity: 1 !important;
				}
			}
		}
	}
	
	#interface {
		$interface-height: 250px;
		$interface-width: 450px;
		width:100%;
		text-align: center;
		margin-bottom:5px;
		height:$interface-height + 2;
		overflow:hidden;
		display:none;
		
		#portrait {
			width: $interface-height;
			.content {
				width:$interface-height;
			}
		}
		
		.ui-slot {
			overflow:hidden;
			transition:all .15s;
			height:100%;
			position:relative;
			display:inline-block;
			margin:0 2px;
			
			.content {
				position:absolute;
				top:0;
				left:0;
				transition:all .15s;
				overflow:hidden;
				display:flex;
				height:100%;
				width:100%;
				align-items:center;
			
				.person {
					display: inline-block;
					width: 90px;
					height: 160px;
					background: grey;
					border-bottom: 5px black solid;
					//margin-top: 5px;
					transition: all .15s;
					margin: 0 5px;
					//position: relative;
					//bottom: 0;
					
					@include faction-colors();
					
					&:active {
						border-bottom:0;
					}
				}
			}
			
			.content.closed .title {
				transform-origin:center;
				text-transform: uppercase;
				transform:rotate(-90deg);
				position: absolute;
				width: 200px;
				top: 50%;
				left: -150%;
			}
			
			.content.opened {
				width:$interface-width;
				display: block;
				
				.title {
					padding:10px;
					font-size: large;
				}
			}
			
			&.open {
				width:$interface-width;
				background:white;
				
				.content.closed {
					width:0px;
					opacity:0;
				}
				
				.content.opened {
					opacity:1;
				}
			}
			
			&.closed {
				width:50px;
				background:grey;
				
				.content.closed {
					opacity:1;
				}
				
				.content.opened {
					width:0px;
					opacity:0;
				}
			}
		}
	}
}

.section {
	display:inline-block;
	position: relative;
	width:$section-width;
	height:$section-height;
	
	background:white;
	margin:0 4px;
	
	@include faction-colors();
	
	&:not(.active) {
		cursor:pointer;
	}
	
	&.new {
		background:transparent;
		box-sizing:border-box;
		border:10px dashed white;
		transition:all .5s;
		cursor: pointer;
		
		&:hover {
			background:grey;
		}
	}
	
	.info {
		box-sizing: border-box;
		padding: 8px;
		background: #666;
		color: white;
		display: flex;
		position: relative;
		
		.info-stat {
			display:inline-block;
			display: inline-block;
			z-index: 1;
			//text-shadow:0 1px 0 rgba(0,0,0,0.5);
		}
		
		.name {
			font-weight: 400;
		}
		
		.level {
			margin-left: 8px;
			color: white - #444;
		}
		
		.status {
			flex: 1;
			text-align: right;
			
			&:after {
				content: 's';
				color: white - #444;
			}
		}
		
		.timebar {
			position: absolute;
			top: 30px;
			left: 0px;
			width: 100%;
			height: 4px;
			z-index: 0;
			background: {
				color: transparent;
				image: url('../images/timebar-upscaled.png');
				position: left;
				repeat: repeat;
				size: 100% 100%;
			}
			
			.bar {
				position:absolute;
				top: 0;
				left:0;
				height:100%;
				width:0%;
				background: yellow;
			}
		}
	}
	
	.units {
		position: absolute;
		bottom: 0px;
		height: $section-height/2;
		padding:0 10px;
		user-select:none;
		
		//not sure if needed
		width:100%;
		box-sizing:border-box;
		
		.terminals {
			position:absolute;
			bottom:25px;
			z-index:0;
			width: calc(100% - #{$door-width} - 20px);
			margin-left:$door-width;
			margin-right:10px;
			height:100%;
			//pointer-events:none;
			
			//background:#999;
			display:flex;
			align-items:flex-end;
			justify-content: space-around;
			
			.terminal {
				width:$door-width;
				height:100%;
				background:white;
				display:inline-block;
				bottom:0px;
				transition:all .15s;
				//position:relative;
				//border-bottom:4px solid black;
				
				@include faction-colors();
				
				&.empty {
					opacity: 0.35;
					height: 20%;
					
					&:hover, &.selected {
						height:100%;
						opacity: 0.5;
						cursor: pointer;
					}
				}
			}
		}
	}
	
	&.active .terminal:hover {
		//background:green;
		//cursor:pointer;
	}
	
	&.active .terminal:active {
		//border-bottom:0px;
	}
}

.unit {
	position: absolute;
	width:11px * $scale;
	height:18px * $scale;
	z-index:1;
	cursor:pointer;
	transform-origin:bottom center;
	
	@include pixel-render();
	
	.transform {
		width:100%;
		height:100%;
		position:relative;
		//opacity:0.3;
		//background:linear-gradient(to right, red, blue);
		
		background: {
			//image: url('../images/dude-upscaled.png');
			size: 100% 100%;
			repeat: no-repeat;
		}
		
		.decoration {
			@include pixel-render();
		}
		
		.uniform,
		.badge {
			@include pixel-render();
			width:11px * $scale;
			height:8px * $scale;
			position:absolute;
			bottom:0;
		}
		
		.skin {
			@include pixel-render();
			background-position:top;
			width:100%;
			height:100%;
		}
	}	
}

.teleport {
	transition: none;
}

footer {
	position:fixed;
	bottom:0;
	text-align:center;
	width:100%;
	
	ul {
		list-style:none;
		
		li {
			margin:7px 10px;
			display:inline-block;
			color:white;
			text-shadow:0px 2px 0px black;
			font-size:small;
			
			&:not(:first-child):before {
				content: '|';
				margin-right:20px;
			}
		}
	}
}

.floater {
	position:absolute;
	transition:all .5s;
	opacity: 0;
	color:white;
	text-align:center;
	text-shadow:0 1px 0 rgba(0,0,0,0.5);
	padding:5px 7px;
	min-width:70px;
	border-radius:5px;
	z-index: 1000;
	background:grey;
	font-weight:200;
	pointer-events:none;
	
	@include faction-colors();
}

.full-width {
	width:100%;
}

/*
//Ignoring planet stuff for now
$ground-height: 40%;//250px
#planet {
	display:none;
	
	height:100%;
	width:100%;
	
	#ground-container {
		position: fixed;
		width:100%;
		height:$ground-height;
		z-index: 1;
		bottom:0;
		background:linear-gradient(to bottom, green + #444, darkgreen - #111);
		
		#ground {
			position: relative;
			top: -$ground-height*0.8;
			overflow-x: auto;
			height:100%;
			
			#buildings {
				height:100%;
				
				.building {
					z-index: 1;
					position: absolute;
					width:300px;
					height:200px;
					background:#630;
					display: inline-block;
				}	
			}
			
			#ground-scroll-box {
				z-index: 0;
				position: absolute;
				top: $ground-height;
				left: 0;
				width: 100%;
				height: 100%;
				cursor: ew-resize;
				display: none;
			}
		}
	}
}
*/

@media (max-width: 890px){
	body { display:flex; align-items:center; }
	#space { display: none; }
	footer { display: none; }
	#broken { display:block; }
}