$color: #666;
$scale: 5;
$height: 20;

$section-height: $scale * $height * 2px;
$section-width: $scale * $height * 4px;

@mixin pixel-render() {
	image-rendering:optimizeSpeed;             /* Legal fallback */
	image-rendering:-moz-crisp-edges;          /* Firefox        */
	image-rendering:-o-crisp-edges;            /* Opera          */
	image-rendering:-webkit-optimize-contrast; /* Safari         */
	image-rendering:optimize-contrast;         /* CSS3 Proposed  */
	image-rendering:crisp-edges;               /* CSS4 Proposed  */
	image-rendering:pixelated;                 /* CSS4 Proposed  */
	-ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    transition:all 3s;
    background:linear-gradient(to top, black + #444, black);
    
    //background:linear-gradient(to top, teal + #888 100% - $ground-height, teal + #EEE);
}

//add some cool stuff back here for rotating stars!
#space-bg {
	background: {
		image: url('../images/warp-upscaled.png');
		repeat:repeat;
		position:0 0;
	}
	animation: warp 5s linear infinite;
	position:fixed;
	width:100%;
	height:100%;
	opacity: 0.3;
}

@keyframes warp {
	0% {
		background-position: 0 0;
	}
	100% {
							//image width * scale * amount
		background-position: 32px * $scale * -10 0;
	}
}

#space {
	height:100%;
	width:100%;
	display:flex;
	align-items:center;
	
	#station {
		position: relative;
		height:$section-height;
		width:100%;
		transition:all .35s;
		//transform:scale(0.4);
		//filter: brightness(0);
		
		.section {
			position: absolute;
			top: 0;
			left:0;
			//width:300px;
			//height:$section-height;
			width:$section-width;
			height:$section-height;
			
			background:orange;
			margin-left: 20px;
			
			.units {
				position: absolute;
				bottom: 0px;
				height: $section-height/2;
				padding:0 10px;
				
				//not sure if needed
				width:100%;
				box-sizing:border-box;
			}
		}
	}
}

.unit {
	position: absolute;
	width:11px * $scale;
	height:18px * $scale;
	cursor:pointer;
	transform-origin:bottom center;
	
	background: {
		image: url('../images/dude-upscaled.png');
		size: 100% 100%;
		repeat: no-repeat;
	}
	
	@include pixel-render();
	
	.flipper {
		width:100%;
		height:100%;
		position:absolute;
		opacity:0.3;
		background:linear-gradient(to right, red, blue);
	}
	
	.uniform {
		
	}	
}

.teleport {
	transition: none;
}


/*
//Ignoring planet stuff for now
$ground-height: 40%;//250px
#planet {
	display:none;
	
	height:100%;
	width:100%;
	
	#ground-container {
		position: fixed;
		width:100%;
		height:$ground-height;
		z-index: 1;
		bottom:0;
		background:linear-gradient(to bottom, green + #444, darkgreen - #111);
		
		#ground {
			position: relative;
			top: -$ground-height*0.8;
			overflow-x: auto;
			height:100%;
			
			#buildings {
				height:100%;
				
				.building {
					z-index: 1;
					position: absolute;
					width:300px;
					height:200px;
					background:#630;
					display: inline-block;
				}	
			}
			
			#ground-scroll-box {
				z-index: 0;
				position: absolute;
				top: $ground-height;
				left: 0;
				width: 100%;
				height: 100%;
				cursor: ew-resize;
				display: none;
			}
		}
	}
}

//Ignoring atmosphere stuff now
#atmosphere {
	width:100%;
	height:100%;
	display:none;
}
*/